@{
    ViewBag.Title = "Home Page";
}
@model List<BloggPostsByAuthor.AuthorData.Post>


<div class="row">
    <div class="col-md-8">

        <ul>
            @foreach (var post in Model)
            {
                <li><a href="http://blog.novanet.no/@post.Slug">@post.Title</a></li>
            }
        </ul>
    </div>
  
</div>